/* @config "../../tailwind.js"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  @import
  @config
  @tailwind

*/

.custom-btn {
  background: blue !important;
  color: white !important;
}

@layer components {
  .btn {
    /* @apply bg-red-600 py-3 px-6 rounded !important; */
    /* @apply custom-btn !important; */
  }
  .btn-hover1 {
    @apply bg-green-600;
  }

  .navbar-custom {
    background: theme(colors.red.600);
    width: theme(spacing.96);
  }
}

.btn-hover2 {
  @apply bg-blue-600;
}

@layer base {
  body {
    font-family: "sans-serif";
  }
}

@media screen(xl) {
  .navbar-custom {
    background: theme(colors.slate.900);
  }
}

/* 
  function
  theme()  --> spacing , colors, screens 
  screen() 
*/
